@font-face {
  font-family: GeographBrand-Medium;
  src: url("/fonts/GeographBrand-Medium.otf") format("opentype");
}

@font-face {
  font-family: GeographEdit-Regular;
  src: url("/fonts/GeographEdit-Regular.otf") format("opentype");
}
