@font-face {
  font-family: GeographBrand-Medium;
  src: url("/fonts/GeographBrand-Medium.otf") format("opentype");
}

@font-face {
  font-family: GeographEdit-Regular;
  src: url("/fonts/GeographEdit-Regular.otf") format("opentype");
}

@font-face {
  font-family: GeographBrand-Bold;
  src: url("/fonts/GeographBrand-Bold.otf") format("opentype");
}

@font-face {
  font-family: GeographEdit-Medium;
  src: url("/fonts/GeographEdit-Medium.otf") format("opentype");
}

@font-face {
  font-family: GeographEdit-Light;
  src: url("/fonts/GeographEdit-Light.otf") format("opentype");
}
