.featuredContainer {
  position: relative;

  .image {
    height: 600px;
    object-fit: cover;
    width: 100%;
  }
  .descriptionContainer {
    margin: 20px;
    position: absolute;
    bottom: 40px;
    padding-left: 12px;
    width: 75%;

    .position {
      font-family: GeographEdit-Bold;
      font-size: 12px;
      color: white;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .title {
      font-family: GeographEdit-Medium;
      font-size: 36px;
      color: white;
      letter-spacing: 0.5px;
      line-height: 44px;
      margin-bottom: 24px;
    }

    .description {
      font-family: GeographEdit-Regular;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0.57px;
      line-height: 23px;
      line-height: 1.8em;
      max-height: 115px;
      margin-bottom: 20px;
    }
  }
}
