.initiativeContainer {
  height: 600px;
  position: relative;
  text-align: center;

  .image {
    height: 600px;
    object-fit: cover;
    width: 100%;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
